SET NOCOUNT ON
GO

USE master
GO

DECLARE @device_directory NVARCHAR(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1

EXECUTE (N'CREATE DATABASE CSCloud
  ON PRIMARY (NAME = N''CSCloud'', FILENAME = N''' + @device_directory + N'CSCloud.mdf'')
  LOG ON (NAME = N''CSCloud_log'',  FILENAME = N''' + @device_directory + N'CSCloud.ldf'')')
go

exec sp_dboption 'CSCloud','trunc. log on chkpt.','true'
exec sp_dboption 'CSCloud','select into/bulkcopy','true'
GO

set quoted_identifier on
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSCloud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


