<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="password" value="wordpassed" />
	  <add key="command_workflow" value="COMPILE,TEST,REPORT,DISCONNECT" />
	  <add key="command_delay" value="500" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc/CSCloudLogService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICSCloudLogService" contract="CSCloudLogServerProxy.ICSCloudLogService" name="BasicHttpBinding_ICSCloudLogService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICSCloudLogService" receiveTimeout="24.00:00:00" sendTimeout="24.00:00:00" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualBinding_ICSCloudServer" receiveTimeout="24.00:00:00" sendTimeout="24.00:00:00" />
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="CSCloudServer.CSCloudServer">
        <endpoint address="/CSCloudServer" binding="wsDualHttpBinding" bindingConfiguration="WSDualBinding_ICSCloudServer" contract="CSCloud.Interfaces.ICSCloudServer" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8889/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	
	<connectionStrings>
		<add name="CSCloudEntities" connectionString="metadata=res://CSCloud.DAL/CSCloudDB.csdl|res://CSCloud.DAL/CSCloudDB.ssdl|res://CSCloud.DAL/CSCloudDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2008;initial catalog=CSCloud;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>